/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: hsl(217deg, 28%, 15%);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-inline: 5vw;
  padding-block: 2%;
}

.primaryNavigation {
  display: flex;
  flex-direction: row;
  min-width: 25vw;
}

.navigationList {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: hsl(0deg, 0%, 100%);
  overflow: hidden;
  justify-content: space-around;
}
.navigationList li a {
  width: 100%;
  font-family: "Raleway", sans-serif;
  opacity: 0.75;
  font-size: clamp(0.5rem, 1vw, 2rem);
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
.navigationList li a:hover, .navigationList li a:focus {
  opacity: 1;
  text-decoration: underline;
}

.introSection {
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.introSection img {
  width: 40%;
}
.introSection h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 3rem);
  padding-block: 2%;
  width: 30ch;
  text-align: center;
}
.introSection h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 60ch;
  font-size: clamp(0.5rem, 1vw, 2rem);
  opacity: 0.9;
  text-align: center;
}
.introSection button {
  border: 0;
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  background-image: linear-gradient(90deg, hsl(176deg, 68%, 64%) 0%, hsl(198deg, 60%, 50%) 100%);
  border-radius: 80px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Raleway", sans-serif;
  padding: 0.5em 3em;
  margin-block: 2%;
}
.introSection button:hover, .introSection button:focus {
  background-color: hsl(176deg, 68%, 64%);
  background-image: none;
  cursor: pointer;
}

.sectionUtility {
  width: 100%;
  padding-inline: 5vw;
  padding-block: 5%;
}

.perksSection {
  background-color: hsl(218deg, 28%, 13%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "perkAccess perkSecurity" "perkCollab perkStore";
  gap: 10%;
}

.perk {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
}
.perk h2 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 3rem);
}
.perk img {
  width: 20%;
  padding: 4%;
}
.perk h3 {
  width: 50ch;
  font-family: "Open Sans", sans-serif;
  opacity: 0.9;
  font-weight: 400;
}

.perkAccess {
  grid-area: perkAccess;
  margin-left: 20%;
}

.perkSecurity {
  grid-area: perkSecurity;
  margin-right: 20%;
  padding-bottom: 10%;
}

.perkCollab {
  grid-area: perkCollab;
  margin-left: 20%;
}

.perkStore {
  grid-area: perkStore;
  margin-right: 20%;
}

.productiveSection {
  background-color: hsl(218deg, 28%, 13%);
  display: flex;
  flex-direction: row;
}
.productiveSection img {
  width: 45%;
  margin-left: auto;
  margin-right: 3%;
}

.textWrapper {
  width: 50%;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding-inline: 3%;
  justify-content: center;
}
.textWrapper h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 3rem);
  width: 20ch;
}
.textWrapper p {
  font-family: "Open Sans", sans-serif;
  padding-block: 2%;
  width: 60ch;
}
.textWrapper a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-block: 1%;
  color: hsl(176deg, 68%, 64%);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid hsl(176deg, 68%, 64%);
}
.textWrapper a:hover {
  transition: 500ms ease-in;
  cursor: pointer;
  color: hsl(0deg, 0%, 100%);
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
}

.quotesSection {
  background-color: hsl(218deg, 28%, 13%);
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.quote {
  background-color: hsl(219deg, 30%, 18%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 2px hsl(217deg, 28%, 15%);
}

blockquote {
  color: hsl(0deg, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 10%;
}
blockquote h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.personalInfo {
  display: flex;
  flex-direction: row;
  padding-inline: 5%;
}
.personalInfo img {
  border-radius: 50%;
  width: auto;
  height: 30%;
  aspect-ratio: 1/1;
  align-self: center;
}

.nameAndJob {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
}
.nameAndJob h4 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: hsl(0deg, 0%, 100%);
  padding: 0;
  margin: 0;
}
.nameAndJob h5 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: hsl(0deg, 0%, 100%);
  padding: 0;
  margin: 0;
}

.secondCTASection {
  width: 100%;
  background-image: linear-gradient(to bottom, hsl(218deg, 28%, 13%) 0%, hsl(218deg, 28%, 13%) 50%, hsl(216deg, 53%, 9%) 50%, hsl(216deg, 53%, 9%) 100%);
  display: flex;
}

.secondaryCTA {
  background-color: hsl(217deg, 28%, 15%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  padding-inline: 5%;
  padding-block: 3%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  border-radius: 15px;
}
.secondaryCTA h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 3vw, 3rem);
}
.secondaryCTA h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 80ch;
  padding-block: 2%;
  font-size: clamp(0.7rem, 1vw, 3rem);
}

.clickables {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.clickables input {
  border-radius: 100vw;
  border: 0;
  padding-block: 1%;
  flex-grow: 1;
  padding-inline: 3rem;
}
.clickables input:invalid {
  border: 2px solid hsl(0deg, 100%, 63%);
}
.clickables button {
  min-width: 30%;
  background-image: linear-gradient();
  border: 0;
  font-size: clamp(0.5rem, 1vw, 2rem);
  background-image: linear-gradient(90deg, hsl(176deg, 68%, 64%) 0%, hsl(198deg, 60%, 50%) 100%);
  border-radius: 80px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Raleway", sans-serif;
  padding: 0.7em 3em;
}
.clickables button:hover, .clickables button:focus {
  background-color: hsl(176deg, 68%, 64%);
  background-image: none;
  cursor: pointer;
}

footer {
  background-color: hsl(216deg, 53%, 9%);
  width: 100%;
  padding: 5%;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
}

.footerSpanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 2%;
}

.footerItem {
  display: flex;
  flex-direction: column;
}
.footerItem p {
  width: 40ch;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.footerItem h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-block: 5%;
  opacity: 0.8;
}
.footerItem h3:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  header {
    align-items: center;
    outline: 0;
    padding-block: 5%;
    margin: 0;
  }
  header img {
    width: 20vw;
    height: 6.76vw;
  }
  .primaryNavigation {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 1;
    margin: 0;
  }
  .navigationList {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 10%;
    overflow: visible;
    margin: 0;
    flex-grow: 1;
  }
  .navigationList li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navigationList li a {
    flex-grow: 1;
    text-align: center;
    min-width: 150px;
    flex-wrap: nowrap;
    font-size: clamp(0.5rem, 4vw, 3rem);
  }
  .introSection {
    background-image: url(images/bg-curvy-mobile.svg), linear-gradient(to bottom, hsl(217deg, 28%, 15%) 0%, hsl(217deg, 28%, 15%) 60%, hsl(218deg, 28%, 13%) 60%, hsl(218deg, 28%, 13%) 100%);
    background-position: center center;
  }
  .introSection img {
    width: 90%;
  }
  .introSection h1 {
    font-size: clamp(1rem, 6vw, 2rem);
    width: 85%;
  }
  .introSection h2 {
    font-size: clamp(0.5rem, 4vw, 2rem);
    width: 85%;
    padding-block: 5%;
  }
  .introSection button {
    font-size: clamp(0.5rem, 6vw, 2rem);
  }
  .perksSection {
    grid-template-areas: "perkAccess" "perkSecurity" "perkCollab" "perkStore";
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .productiveSection {
    flex-direction: column;
  }
  .productiveSection img {
    width: 100%;
  }
  .quotesSection {
    flex-direction: column;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 10% 5%;
    padding-block: 20%;
  }
  .quote {
    width: 90vw;
    align-self: center;
    height: 40vw;
    margin-block: 5%;
    padding-inline: 5%;
    height: auto;
  }
  .quote img {
    width: 10vw;
  }
  .quote h4 {
    font-size: clamp(0.5rem, 4vw, 2rem);
  }
  .quote h5 {
    font-size: clamp(0.5rem, 3vw, 2rem);
  }
  .personalInfo {
    padding-block: 5%;
  }
  blockquote h3 {
    font-size: clamp(0.3rem, 4vw, 3rem);
  }
  .footerSpanner {
    flex-direction: column;
  }
  .perksSection {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .perk {
    align-self: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-block: 15%;
  }
  .perk h2 {
    width: 90%;
    font-size: clamp(1rem, 6vw, 2rem);
  }
  .perk h3 {
    width: 90%;
    font-size: clamp(1rem, 4vw, 2rem);
    padding-block: 5%;
  }
  .perk img {
    width: 30%;
  }
  .textWrapper {
    width: 100%;
  }
  .textWrapper h2 {
    width: 100%;
    padding-block: 5%;
    flex-grow: 1;
    font-size: clamp(1rem, 5vw, 2rem);
  }
  .textWrapper p {
    width: 90%;
    font-size: clamp(0.5rem, 4vw, 2rem);
  }
  .secondCTASection {
    width: 100%;
  }
  .secondaryCTA {
    width: 90%;
  }
  .secondaryCTA h2 {
    width: 100%;
    font-size: clamp(1rem, 6vw, 3rem);
    padding-top: 10%;
  }
  .secondaryCTA h3 {
    width: 100%;
    font-size: clamp(0.5rem, 4vw, 3rem);
    padding-block: 5%;
  }
  .clickables {
    flex-direction: column;
    margin-block: 5%;
  }
  .clickables input {
    padding-block: 2%;
    margin-block: 5%;
  }
  .clickables button {
    font-size: clamp(0.5rem, 4vw, 2rem);
  }
  footer {
    padding-block: 20%;
  }
  .footerItem {
    padding-block: 5%;
  }
  .footerItem p {
    width: 100%;
  }
  .footerItem h3 {
    padding-block: 1%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .perk {
    margin-inline: auto;
  }
  .perk h3 {
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    width: auto;
  }
  .textWrapper p {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */